<template>
  <q-page class="col">
    <div class="q-mx-auto" style="width: 80%">
      <div class="q-py-md q-mx-auto" style="max-width: 300px">
        <q-input filled v-model="selectedDate" mask="date" :rules="['date']">
          <template v-slot:append>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy
                cover
                transition-show="scale"
                transition-hide="scale"
              >
                <q-date v-model="selectedDate">
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Close" color="primary" flat />
                  </div>
                </q-date>
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
      </div>
      <message-list />
      <commander-list />
    </div>
  </q-page>
</template>

<script setup>
import MessageList from "src/components/MessageList.vue";
import CommanderList from "src/components/CommanderList.vue";
import { defineComponent, ref, watchEffect, onMounted } from "vue";
import { useMessagesStore } from "../stores/messages";
import { getAllCalls, useAutoUpdatingStore } from "../queries/api";

const store = useMessagesStore();

import { storeToRefs } from "pinia";
const { selectedDate, formattedSelectedDate } = storeToRefs(useMessagesStore());

const refetch = async () => {
  store.updateData(await getAllCalls());
};

onMounted(() => {
  refetch();
  useAutoUpdatingStore();
});

watchEffect(() => refetch());
</script>
