<template>
  <div class="row">
    <div
      class="col-12 col-sm-4 q-pa-sm"
      v-for="(commander, i) in [...(today?.commanders ?? [])]"
      :key="i"
    >
      <q-card class="my-card">
        <q-card-section class="q-px-md">
          <div class="text-h6 text-center">
            {{ commander.name || "שם מפקד" }}
          </div>
          <q-popup-edit
            v-model="commander.name"
            auto-save
            v-slot="scope"
          >
            <q-input
              v-model="scope.value"
              dense
              autofocus
              @keyup.enter="scope.set"
            />
          </q-popup-edit>
        </q-card-section>

        <q-separator />

        <q-card-section v-for="student in commander.students" :key="student">
          <div class="row q-gutter-sm">
            <div class="col cursor-pointer">
              {{ student.name || "שם החניך" }}
              <q-popup-edit v-model="student.name" auto-save v-slot="scope">
                <q-input
                  v-model="scope.value"
                  dense
                  autofocus
                  @keyup.enter="scope.set"
                />
              </q-popup-edit>
            </div>

            <div class="col cursor-pointer">
              {{ student.time || "17:40" }}
              <q-popup-edit v-model="student.time" auto-save v-slot="scope">
                <q-input
                  v-model="scope.value"
                  dense
                  autofocus
                  @keyup.enter="scope.set"
                />
              </q-popup-edit>
            </div>
          </div>
        </q-card-section>
        <div class="print-hide text-center">
          <q-separator />

          <q-icon
            name="add"
            size="sm"
            class="q-pa-sm cursor-pointer"
            @click="store.addCall(commander)"
          />
        </div>
      </q-card>
    </div>

    <div class="col-4 q-pa-sm print-hide">
      <q-card class="my-card">
        <q-card-section style="padding: 0.5rem">
          <div class="text-h6 text-center">
            <q-icon
              name="add"
              size="sm"
              class="q-pa-sm cursor-pointer"
              @click="store.addCommander"
            />
          </div>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script setup>
import { useMessagesStore } from "../stores/messages";
import { storeToRefs } from "pinia";

const store = useMessagesStore();
const { today } = storeToRefs(store);

import { ref } from "vue";

// const addCall = (commander) => {
//   store.addCall(commander);
// };

// const addCommander = () => {
//   store.addCommander();
// };
</script>

<style></style>
