<template>
  <div class="q-mb-md q-gutter-md">
    <q-list bordered class="rounded-borders">
      <q-item-label header class="text-h5">הודעות שלנו</q-item-label>

      <div v-for="message in [...today?.messages || []]" :key="message">
        <q-separator />
        <q-item>
          <q-item-section>
            <q-item-label> {{ message }} </q-item-label>
          </q-item-section>

          <q-item-section side class="print-hide">
            <div class="text-grey-8 q-px-0">
              <q-btn
                size="12px"
                flat
                dense
                round
                icon="delete"
                @click="deleteMessage(message)"
              />
            </div>
          </q-item-section>
        </q-item>
      </div>
      <q-separator />
      <q-item>
        <q-input
          v-model="messageInput"
          class="print-hide"
          dense
          style="width: 100vw"
          @keypress.enter="publishMessage"
        />
      </q-item>
    </q-list>
  </div>
</template>

<script setup>
import { storeToRefs } from "pinia";
import { ref } from "vue";

import { useMessagesStore } from "../stores/messages";
const store = useMessagesStore();
const { formattedSelectedDate, today } = storeToRefs(store);

let messages = ref([]);

const messageInput = ref("");

const publishMessage = async () => {
  if (messageInput.value != "") {
    const newData = JSON.parse(JSON.stringify(today.value));

    (newData.messages ??= []).push(messageInput.value);

    store.updateToday(newData);
  }

  messageInput.value = "";
};

const deleteMessage = (messageToRemove) => {
  messages.value = messages.value.filter(
    (message) => message !== messageToRemove
  );
};
</script>

<style>
.q-item__section--side {
  padding: 0% !important;
}
</style>
